{% extends 'base.html'%} {% load static %}



<!DOCTYPE html>
<html lang="en">

<head>



    {% block head %}

    <!-- <link rel="stylesheet" href="{%static 'index.css'%}"> -->
    <link rel="stylesheet" href="{%static 'analytics.css'%}">

    <title>Document</title>
    <script src="{%static 'index.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        function show(shown, hidden) {
            document.getElementById(shown).style.display = 'block';
            document.getElementById(hidden).style.display = 'none';
            return false;
        }
    </script>

    <script>
        $('document').ready(function() {

            var completed_habits = $('#completed_habits_hidden_values').val()
            completed_habits = completed_habits.replace(/'/g, '"')
            completed_habits = completed_habits.replace("True", 'true')
            completed_habits = JSON.parse(completed_habits)
            console.log(completed_habits)


            var days_data = $('#days_data_hidden_values').val()
            days_data = days_data.replace(/'/g, '"'); // here the problem was because of single quotes
            days_data = JSON.parse(days_data)
            console.log(days_data)

            console.log(typeof parseInt(days_data['Monday']))

            var Monday = parseInt(days_data['Monday'])
            var Tuesday = parseInt(days_data['Tuesday'])
            var Wednesday = parseInt(days_data['Wednesday'])
            var Thursday = parseInt(days_data['Thursday'])
            var Friday = parseInt(days_data['Friday'])
            var Saturday = parseInt(days_data['Saturday'])
            var Sunday = parseInt(days_data['Sunday'])






            var chart1 = new CanvasJS.Chart("chartContainer1", {
                animationEnabled: true,
                theme: "dark1", // "light1", "light2", "dark1", "dark2"

                title: {
                    text: "Tasks added"
                },
                axisY: {
                    title: "Number of tasks added",
                    // suffix: "%"
                },
                axisX: {
                    title: "Week days"
                },
                data: [{
                    type: "column",
                    dataPoints: [{
                        label: "Sunday",
                        y: Sunday
                    }, {
                        label: "Monday",
                        y: Monday
                    }, {
                        label: "Tuesday",
                        y: Thursday
                    }, {
                        label: "Wednesday",
                        y: Wednesday
                    }, {
                        label: "Thursday",
                        y: Thursday
                    }, {
                        label: "Friday",
                        y: Friday
                    }, {
                        label: "Saturday",
                        y: Saturday
                    }]
                }],
                backgroundColor: "#ffffff00"
            });

            var chart2 = new CanvasJS.Chart("chartContainer2", {
                animationEnabled: true,
                theme: "dark1", // "light1", "light2", "dark1", "dark2"

                title: {
                    text: "Tasks added"
                },
                axisY: {
                    title: "Number of tasks added",
                    // suffix: "%"
                },
                axisX: {
                    title: "Week days"
                },
                data: [{
                    type: "column",
                    dataPoints: [{
                        label: "Sunday",
                        y: Sunday
                    }, {
                        label: "Monday",
                        y: Monday
                    }, {
                        label: "Tuesday",
                        y: Tuesday
                    }, {
                        label: "Wednesday",
                        y: Wednesday
                    }, {
                        label: "Thursday",
                        y: Thursday
                    }, {
                        label: "Friday",
                        y: Friday
                    }, {
                        label: "Saturday",
                        y: Saturday
                    }]
                }],
                backgroundColor: "#ffffff00"
            });

            chart1.render();
            chart2.render();

        })
    </script>

    <style>

    </style>
    {% endblock %}

</head>

{% block content %}

<div style="min-height: 900px;">

    <div class="container p-md-5">
        <div class="row justify-content-center align-items-center" id="toggle-btns">
            <div class="col-6">
                <button type="button" class="btn btn-success btn-md btn-block" onclick="return show('tasks','habits');">Tasks</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-secondary btn-md btn-block" onclick="return show('habits','tasks');">Habits</button>
            </div>
        </div>
    </div>



    <div id="tasks">

        <div class="container justify-content-center head-text-class" style="padding-bottom:20px;">
            <h1 class="text-light head-text">Total tasks added: <span class="text-success">13</span></h1>
            <h1 class="text-light head-text">Total tasks added: <span class="text-success">11</span></h1>
        </div>


        <div class="container">
            <div class="justify-content-center">
                <div id="chartContainer1" style="height: 300px; width: 100%;"></div>
            </div>
        </div>

        <div style="margin-top: 2%;"></div>

        <div class="container">
            <div class="justify-content-center">
                <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
            </div>
        </div>

    </div>


    <div id="habits" class="text-light" style="display:none">

        <div class="container">
            <h1 id="total_habit_tag">Total habits built: <span class="text-success"> {{ completed_habits_length }}</span> </h1>
            <ul>
                {% for ele in completed_habits %}
                <li class="text-success li-item">{{ ele.habit_name }}</li>
                {% endfor %}
            </ul>

        </div>

    </div>
    <textarea name="completed_habits_hidden_values" id="completed_habits_hidden_values" cols="30" rows="10" hidden>{{ completed_habits }} </textarea>
    <textarea name="days_data_hidden_values" id="days_data_hidden_values" cols="30" rows="10" hidden>{{ days_data }} </textarea>

</div>



<script src="https://canvasjs.com/assets/script/canvasjs.min.js "></script>


{% endblock %}