{% load static %}


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Manual -->
    <title>Password reset</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">

    <script>
        $(document).ready(function() {

            $("#login_btn").hide();

            $('#send_mail_btn').click(function() {
                $('#msg').html("")

                var email = $("#id_email").val();
                $.post('/send_password_reset_mail', {
                        'email': email,
                        'csrfmiddlewaretoken': "{{csrf_token}}"
                    },
                    function(data, status) {
                        if (status == "success") {
                            // data = JSON.parse(data)
                            if (data['flag'] == true) {
                                $('#msg').html("Password reset link sent to id : " + $('#id_email').val())
                                $("#msg").addClass("text-success")
                                $("#msg").css("opacity", 2)
                                $("#msg").css("background-color", "white")

                                $("#login_btn").show();

                            } else {
                                $('#msg').html("server message: " + data['message'])
                                $("#msg").addClass("text-danger")
                                $("#msg").css("opacity", 2)
                                $("#msg").css("background-color", "white")

                            }
                        }
                    }
                )
            })
        });
    </script>
</head>

<body>

    <div class="fluid" id="top_text">Reset Password for <span class="text-primary" style="font-size: 50px; ">
            VeriListo</span> </div>
    <div class="container" id="parent">

        {%for val in form %}
        <div class="form-group">
            {{val.label_tag}} {{val}}
        </div>
        {%endfor%}

        <button type="submit" class="btn btn-primary" id='send_mail_btn'>Send Mail</button>
        <button id="login_btn" onclick="location.href='login' " style="float: right;  margin: 10px;" type="submit" class="btn btn-primary" id="login_btn">Login</button>

    </div>
    <h2 class="text-light" style="text-align: center;"> <span id="msg"></span> </h2>


</body>

</html>