 {% load static%}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Hello, world!</title>

    <link rel="stylesheet" href="{%static 'signup.css'%}">


    <script>
        $(document).ready(function() {
            $('select').addClass('form-control')
            $('select').css('appearance', 'menulist')
            $("#wrong_message").hide();



            $('#sign_up_message').hide()
            $('#user_exists_msg').hide()
            $('#login_btn').hide()

            var email = ""
            var username = ""
            var otp_original = ""
            var password = ""
            var msg = ""

            // when signup button is clicked
            $('#signup_btn').click(function() {

                // Extracting the data from the html
                email = $('#id_email').val()
                username = $('#id_username').val()
                password = $('#id_password').val()

                if (email == "" || username == "" || password == "")
                    alert("All fields are required!")

                console.log("Signup_btn clicked")

                //checking if the user is already in the database
                $.post('/check_user_api', {
                        "email": email,
                        "csrfmiddlewaretoken": "{{csrf_token}}"
                    },
                    function(data, status) {
                        alert(data)
                        if (status == "success") {

                            // If the user is already there i.e if returned true
                            if (data == 'True') {
                                //set the msg user is already there
                                $('#user_exists_msg').show()

                            } else {

                                alert("above send otp")
                                $.post('/send_otp', {
                                        "email": email,
                                        "username": username,
                                        "csrfmiddlewaretoken": "{{csrf_token}}"
                                    },
                                    function(data, status) {
                                        if (status == "success") {
                                            otp_original = data;
                                            alert("In send otp")

                                            // This is only done when otp is sent
                                            $('#parent').css('display', 'none')
                                            $('#otp_div').css('display', 'block')
                                            $('#top_text_signup').css('display', 'none')
                                            $('#top_text_otp').css('display', 'block')

                                            $('#email_span').html('<b>' + email + '</b>')

                                        }
                                    }
                                );
                            }
                        }
                    }
                );
            })


            $('#btn_validate').click(function() {
                var user_otp = $('#otp').val()
                alert(otp_original)
                alert(user_otp)
                alert(user_otp == otp_original)

                if (user_otp == otp_original) {

                    $.post('/create_user_after_verification', {
                            'email': email,
                            'username': username,
                            'password': password,
                            "csrfmiddlewaretoken": "{{csrf_token}}"
                        },
                        function(data, status) {
                            if (status == "success") {
                                //if user is created successfully
                                $('#otp_div').css('display', 'none')
                                $('#parent').css('display', 'block')
                                $('#top_text_otp').css('display', 'none')
                                $('#top_text_signup').css('display', 'block')

                                $('#id_email').val("")
                                $('#id_username').val("")
                                $('#id_password').val("")
                                $('#sign_up_message').show()
                                $('#login_btn').show()

                            } else {
                                $('#runtime_signup_error_message').html(data);
                            }
                        }
                    )
                } else {
                    $("#wrong_message").show();
                }
            })
        });
    </script>
</head>

<body>

    <div class="fluid" id="top_text_signup" style="display: block;"> Signup for <span class="text-primary" style="font-size: 50px; ">Memory
            Friend</span> </div>

    <div class="fluid" id="top_text_otp" style="display: none;">OTP for <span class="text-primary" style="font-size: 50px; ">Memory
            Friend</span> </div>


    <div id="otp_div" style="display: none;" class="text-light">
        <div style="margin-top: 10%;">
            <div class="container" style="text-align:center">
                <h2><b>Please enter the OTP to varify your account</b></h2>
                <div class="container">
                    <p>A One-Time-Password has been sent to : <span class="text-success" id='email_span'></span></p>
                </div>

                <div class="container">
                    <input type="text" id='otp' name='otp'>
                </div>
                <div class="container">
                    <h4 class="text-danger" id="wrong_message"> Wrong OTP! Please enter the correct OTP. </h4>
                </div>

                <input type="hidden" id='otp_hidden' value="">

                <button class="btn btn-primary m-3" type='submit' id="btn_validate">Validate</button>

            </div>
        </div>
    </div>

    <div class="container" id="parent" style="display: block;">

        <h2 class="text-danger" id='user_exists_msg'>User with the email already exists!</h2>

        <h2 class="text-success" id='sign_up_message' style="display:none">Signed up successfully!</h2>

        <h2 class="text-success" id='runtime_signup_error_message' style="display:none"></h2>

        {%for val in form %}

        <div class="form-group">
            {{val.label_tag}} {{val}}
        </div>

        {%endfor%}

        <button type="submit" id='signup_btn' class="btn btn-primary">Sign up</button>
        <br>

        <br>

        <a href="login" class="text-light">Already have an account?</a>
        <button onclick="location.href='login' " style="float: right;  margin: 10px;" type="submit" class="btn btn-primary" id="login_btn">Login</button>

    </div>

</body>

</html>